<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% title = typeof title !== 'undefined' ? title : "Error" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <h1 id="title-header">Playlistify</h1>
    <nav>
        <a href="/" <%- title === 'All Playlists' ? 'class="active"' : '' %>>HOME</a> |
        <% if (user) { %>
        <a href="/playlists" <%- title === 'My Playlists' ? 'class="active"' : '' %>>MY PLAYLISTS</a> |
        <a href="/playlists/new" <%- title === 'Create a Playlist' ? 'class="active"' : '' %>>CREATE PLAYLIST</a>
        <img class="google-user-nav" alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer" >
        <a href="/logout">LOG OUT</a>    
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
    </nav>
    <header>
        <h1><%= title %></h1>
    </header>
<main>