<%- include('./partials/header') %>
<div class="main-container">
  <div class="table-container">
    <form action="/playlists/sort" method="GET">
      <div class="sort-container">
        <select class="filter-dropdown" name="mood">
          <option value="All Moods">All Moods</option>
          <option value="Chill">Chill</option>
          <option value="Cozy">Cozy</option>
          <option value="Feel-good">Feel-good</option>
          <option value="Nostalgic">Nostalgic</option>
          <option value="Roadtrip">Roadtrip</option>
          <option value="Romantic">Romantic</option>
          <option value="Sad">Sad</option>
          <option value="Study">Study</option>
          <option value="Upbeat">Upbeat</option>
          <option value="Workout">Workout</option>
        </select>
        <button class="btn-filter">Filter</button>
      </div>
    </form>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Playlist Name</th>
          <th class="hide-description">Description</th>
          <th class="hide-mood">Mood</th>
          <th class="hide-created">Created</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <% allPlaylists.forEach(function(p){%>
        <tr>
          <td class="google-user">
            <img
              alt="avatar"
              src="<%= p.userAvatar %>"
              referrerpolicy="no-referrer"
            /><%= p.userName %>
          </td>
          <td class="playlist-name"><%= p.name %></td>
          <td class="hide-description"><%= p.description %></td>
          <td class="hide-mood"><%= p.mood %></td>
          <td class="hide-created"><%= p.createdAt.toLocaleDateString() %></td>
          <td>
            <a href="/playlists/<%= p.id %>" class="btn-link">DETAILS</a>
          </td>
          <%}) %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%- include('./partials/footer') %>
