<%- include('../partials/header') %>
<div class="main-container">
  <div class="table-container">
    <div class="search-container">
    <form method="GET" action="/playlists/<%= playlist.id%>/search/results">
  <input class="search-input search-form" type="text" name="q" placeholder="Search for a song..." required/>
  <button type="submit" class="btn-lg">Search</button>
</form><br>
<a href="/playlists/<%=playlist.id%>" class="btn-link btn-lg btn-return">Return to Playlist</a>
</div>
<p><%= errorMsg %></p>
<div class="query-data">
<% if (queryData) { %>
  <table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
      <% results.forEach(function(r) { %>
        <tr>
          <td><%= r.name %></td>
          <td><%= r.artist %></td>
          <td><a href="<%= r.url %>" target="_blank" class="btn-link">Play Song</a></td>
          <td>
            <% if (isSongInPlaylist(playlist, r)) { %>
              <button type="button" class="btn-added">Added</button>
            <% } else {%>
            <form method="POST" action="/playlists/<%= playlist.id%>/songs/<%= r.safe_name %>/<%= r.artist %>">
              <input type="text" value="<%=q%>" name="q" hidden>
              <button type="submit" class="btn-add">+ Add</button>
            </form>
            <%}%>
          </td>
        </tr>
 <% }) %>
  </tbody>
  </table>
<% } else { %>
<% } %>
</div>
</div>
</div>
<%- include('../partials/footer') %>
