<% if (user){%>
<%- include('../partials/header') %>
<div class="main-container">

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Mood</th>
        <th>Created</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% myPlaylists.forEach(function(p){%>
        <tr class="selector">
        <td><%= p.name %></td>
        <td><%= p.description %></td>
        <td><%= p.mood %></td>
        <!-- timeAgo to-do -->
        <td><%= p.createdAt.toLocaleDateString() %></td>
        <td>
          <a href="/playlists/<%= p.id %>" class="btn-link">DETAILS</a>
          <!-- <form method="GET" action="/playlists/<%= p.id %>">
            <button type="submit">DETAILS</button>
          </form> -->
        </td>
        <td>
            <form method="POST" action="/playlists/<%= p.id %>/?_method=DELETE">
                <button type="submit" class="btn-delete">X</button>
            </form>
        </td>
        <%}) %>
      </tr>
    </tbody>
  </table>
</div>
</div>
<%- include('../partials/footer') %>
<%}%>
