<%- include('../partials/header') %>
<section class="main-container">
<section class="table-container">
  <div><strong>Description: </strong><%= playlist.description %></div>
  <br />
  <div><strong>Mood: </strong><%= playlist.mood %></div>
  <br />
  <div><strong>Songs: </strong><%= playlist.song %></div>
  <br />
  <%if (user && playlist.user.equals(user._id)){%>
    <a href="/playlists/<%= playlist.id %>/edit">Edit Playlist</a>
    <form action="/search" method="GET">
      <button type='submit'>Add a Song</button>
    </form>
    <br /><br />
    <div>
      <form method="POST" action="/playlists/<%= playlist.id %>?_method=DELETE">
        <button onclick="return confirm('Are you sure you want to delete <%= playlist.name %>?')" type="submit">Delete Playlist</button>
      </form>
    </div>
  <%}%>

</section>
</section>

<%- include('../partials/footer') %>
