<%- include('../partials/header') %>
<section class="main-container">
<section class="table-container">
  <div><strong>Description: </strong><%= playlist.description %></div>
  <br />
  <div><strong>Mood: </strong><%= playlist.mood %></div>
  <br />
  <strong>Songs: </strong>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Artist</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
    <% playlist.songs.forEach((s)=>{%>
     <tr>
        <td><%=s.name %></td>
        <td><%=s.artist%></td>
        <td><a href="<%=s.url%>" target="_blank">Play</a></td>
    <% }) %>
    </tr>
  </thead>
</table>

  <br/>
  <%if (user && playlist.user.equals(user._id)){%>
    <a href="/playlists/<%= playlist.id %>/edit" class="btn-link btn-edit">Edit Playlist</a>
    <a href="/playlists/<%=playlist.id%>/search" class="btn-link btn-add">Add Songs</a>
    <!-- <form action="/playlists/<%=playlist.id%>/search" method="GET">
      <button type='submit'>Add a Song</button>
    </form> -->
    <br /><br/>
    <div>
      <form method="POST" action="/playlists/<%= playlist.id %>?_method=DELETE">
        <button class="btn-delete" onclick="return confirm('Are you sure you want to delete <%= playlist.name %>?')" type="submit">Delete Playlist</button>
      </form>
    </div>
  <%}%>

</section>
</section>

<%- include('../partials/footer') %>
