<%- include('./partials/header') %>
<div class="main-container">
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Name</th>
                <th>Description</th>
                <th>Mood</th>
                <th>Created</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <% allPlaylists.forEach(function(p){%>
                <tr>
                    <td class="review-user"><img alt="avatar" src="<%= p.userAvatar %>" referrerpolicy="no-referrer" ><%= p.userName %></td>
                    <td><%= p.name  %></td>  
                    <td><%= p.description %></td>
                    <td><%= p.mood %></td>
                    <!-- timeAgo to-do -->
                    <td><%= p.createdAt.toLocaleDateString() %></td>
                    <td>
                        <form method="GET" action="/playlists/<%= p.id %>">
                          <button type="submit">DETAILS</button>
                        </form>
                      </td>
                    <%}) %>
                </tr>
            </tbody>
    </table>
</div>
</div>
<%- include('./partials/footer') %>